.add-menu-round-button {
  background-color: black !important;
  border-color: black !important;
  width: 72px;
  height: 72px;
  border-radius: 50% !important;
}

.add-menu-round-button:hover {
  background-color: #222222 !important;
  border-color: #222222 !important;
}

.add-menu-round-button:active {
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}

.offcanvas-item-button {
  background: none;
  border: none;
  height: 50px;
}

.offcanvas-item-button:hover {
  background-color: #f3f2f2;
  border-color: #f3f2f2;
}

.offcanvas-item-button:active {
  background-color: #d8d8d8 !important;
  border-color: #d8d8d8 !important;
}

.offcanvas-item-button-icon {
  width: 24px;
  margin-left: 8pt;
}

.offcanvas-signout-icon {
  width: 28px;
  margin-left: 9pt;
}
