.solid-button {
  background-color: #7c4dff !important;
  border-color: #7c4dff !important;
  height: 50px;
  border-radius: 12px;
}

.solid-button:hover {
  background-color: #6933ff !important;
  border-color: #6933ff !important;
}

.solid-button:active {
  background-color: #5b21fc !important;
  border-color: #5b21fc !important;
}
